# Blacklist everything by default
*

# Whitelist
!*.yaml
!/appdaemon
!/automations
!configuration
!/config
!/custom_components
!/device_trackers
!/scripts
!/sensors
!/switches
!/themes

# Blacklist
.cloud
.gitignore
.google.token
.ios.conf
.jsrebernak_gmail_com.tile.conf
.storage
.spotify-token-cache
.uuid

*.bak
*.conf
*.log

icloud
www

aircast.xml
customie.yaml
input_select.yaml
google_calendars.yaml
groups.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
ui-lovelace.yaml
zones.yaml